
    <div class="navbar navbar-dark bg-primary shadow-sm">
        <div class="navbar-brand align-item-center d-flex">
            <i style="font-size: 40px;" class="fas fa-shipping-fast">&nbsp;
                
            </i>
            <strong style="font-size: 30px;">FruitShop</strong>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="search products">
            </div>
            <span class="fas fa-search search-icon"></span>


        </div>
        <button routerLink="./cart" class="btn btn-primary">
            <i style="font-size: 30px;" class="fas fa-cart-plus"></i>
            <div style="font-size: 10px;" class="badge bg-danger"></div>
        </button>
    </div>
  
    <div class="container m-3 ">
    </div><div class="row"> 
        <div class="card" style="width:400px">
          <img class="card-img-top " routerLink="./details" src="./assets/apple.jpg" alt="Card image" style="width:100%">
          <div class="card-body">
            <h4 class="card-title">Apple</h4>
            <h2 class="card-text"> ₹30 
                Free delivery</h2>
                <p>10%off</p>

            <a href="cart" class="btn btn-primary">Add to Cart</a>
          </div>
        </div>
        <div class="card" style="width:400px">
            <img class="card-img-top" src="./assets/orrange.jpg" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">Orrange</h4>
              <h2 class="card-text"> ₹60 
                Free delivery</h2>
                <p>30%off</p>
              <a href="cart" class="btn btn-primary">Add to Cart</a>
            </div>
          </div>
          <div class="card" style="width:400px">
            <img class="card-img-top" src="./assets/pineapple.jpg" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">pineapple</h4>
              <h2 class="card-text"> ₹70 
                Free delivery</h2>
                <p>35%off</p>
              <a href="cart" class="btn btn-primary">Add to Cart</a>
            </div>
          </div>
        </div>
    
    
